In [1]:
import pandas as pd
import numpy as np

In [99]:
master_data = pd.read_csv('..\data\processed\BattingStats.csv')

In [100]:
master_data.head()

,yearID,teamID,2B,3B,HR,SB,HBP,BA,OBP,SLG,OPS,SB%,K%,BB%,PlayoffTeam,Champ
0,1900,BRO,199.0,81.0,26.0,274.0,81.0,0.293,0.359,0.383,0.742,0.0,0.0,0.079,0,0
1,1900,BSN,163.0,68.0,48.0,182.0,45.0,0.283,0.338,0.373,0.711,0.0,0.0,0.072,0,0
2,1900,CHN,202.0,51.0,33.0,189.0,65.0,0.260,0.313,0.342,0.655,0.0,0.0,0.064,0,0
3,1900,CIN,178.0,83.0,33.0,183.0,50.0,0.266,0.314,0.354,0.668,0.0,0.0,0.061,0,0
4,1900,NY1,177.0,61.0,23.0,236.0,56.0,0.279,0.337,0.357,0.694,0.0,0.0,0.071,0,0

In [101]:
master_data = master_data[master_data['yearID']>1902]

In [102]:
master_data.set_index('yearID',inplace=True)

In [78]:
from sklearn.preprocessing import StandardScaler

In [103]:
scaler = StandardScaler()

In [104]:
scaled_data = master_data.copy()

In [105]:
scaled_data.head()

,teamID,2B,3B,HR,SB,HBP,BA,OBP,SLG,OPS,SB%,K%,BB%,PlayoffTeam,Champ
yearID,,,,,,,,,,,,,,,
1903,BOS,222.0,113.0,48.0,141.0,36.0,0.272,0.307,0.392,0.699,0.0,0.0,0.049,1,1
1903,BRO,177.0,56.0,15.0,273.0,53.0,0.265,0.343,0.339,0.682,0.0,0.0,0.101,0,0
1903,BSN,176.0,47.0,25.0,159.0,59.0,0.245,0.309,0.318,0.627,0.0,0.0,0.077,0,0
1903,CHA,176.0,49.0,14.0,180.0,38.0,0.247,0.295,0.314,0.609,0.0,0.0,0.063,0,0
1903,CHN,191.0,62.0,9.0,259.0,50.0,0.275,0.336,0.347,0.683,0.0,0.0,0.080,0,0

In [ ]:
def standardize(df):
    for i in range(1903, 2016):
        scaled_data.loc[i] = scaler.fit(scaler.loc[i])
        scaled_data.loc[i] = scaler.transform(scaler.loc[i])

In [106]:
cols = scaled_data.columns.drop(['teamID','PlayoffTeam','Champ'])

In [107]:
cols

Index(['2B', '3B', 'HR', 'SB', 'HBP', 'BA', 'OBP', 'SLG', 'OPS', 'SB%', 'K%',
       'BB%'],
      dtype='object')

In [108]:
master_data.head()

,teamID,2B,3B,HR,SB,HBP,BA,OBP,SLG,OPS,SB%,K%,BB%,PlayoffTeam,Champ
yearID,,,,,,,,,,,,,,,
1903,BOS,222.0,113.0,48.0,141.0,36.0,0.272,0.307,0.392,0.699,0.0,0.0,0.049,1,1
1903,BRO,177.0,56.0,15.0,273.0,53.0,0.265,0.343,0.339,0.682,0.0,0.0,0.101,0,0
1903,BSN,176.0,47.0,25.0,159.0,59.0,0.245,0.309,0.318,0.627,0.0,0.0,0.077,0,0
1903,CHA,176.0,49.0,14.0,180.0,38.0,0.247,0.295,0.314,0.609,0.0,0.0,0.063,0,0
1903,CHN,191.0,62.0,9.0,259.0,50.0,0.275,0.336,0.347,0.683,0.0,0.0,0.080,0,0

In [117]:
scaler.fit(scaled_data[cols])

StandardScaler()

In [118]:
scaled_data = scaler.transform(scaled_data[cols])

In [65]:
master_data.head()

,teamID,2B,3B,HR,SB,HBP,BA,OBP,SLG,OPS,SB%,K%,BB%,PlayoffTeam,Champ
yearID,,,,,,,,,,,,,,,
1903,BOS,222.0,113.0,48.0,141.0,36.0,0.272,0.307,0.392,0.699,0.0,0.0,0.049,1,1
1903,BRO,177.0,56.0,15.0,273.0,53.0,0.265,0.343,0.339,0.682,0.0,0.0,0.101,0,0
1903,BSN,176.0,47.0,25.0,159.0,59.0,0.245,0.309,0.318,0.627,0.0,0.0,0.077,0,0
1903,CHA,176.0,49.0,14.0,180.0,38.0,0.247,0.295,0.314,0.609,0.0,0.0,0.063,0,0
1903,CHN,191.0,62.0,9.0,259.0,50.0,0.275,0.336,0.347,0.683,0.0,0.0,0.080,0,0

In [120]:
scaled_data

array([[-0.41403939,  3.44732913, -1.18325673, ..., -1.98668873,
        -2.57276524, -2.82600645],
       [-1.37124015,  0.57427366, -1.77017088, ..., -1.98668873,
        -2.57276524,  1.30191665],
       [-1.39251128,  0.12063332, -1.5923181 , ..., -1.98668873,
        -2.57276524, -0.60327862],
       ...,
       [ 0.7984149 , -0.63543391,  1.02211765, ...,  0.74737989,
         1.50165743, -0.20636294],
       [ 1.41527762, -1.39150114,  2.08923429, ...,  1.02040755,
         1.17893088,  0.58746843],
       [ 0.50061911, -1.59311907,  1.11104404, ...,  0.71325144,
         1.88489521,  0.34931902]])

In [121]:
master_data.loc[1903]

,teamID,2B,3B,HR,SB,HBP,BA,OBP,SLG,OPS,SB%,K%,BB%,PlayoffTeam,Champ
yearID,,,,,,,,,,,,,,,
1903,BOS,222.0,113.0,48.0,141.0,36.0,0.272,0.307,0.392,0.699,0.0,0.0,0.049,1,1
1903,BRO,177.0,56.0,15.0,273.0,53.0,0.265,0.343,0.339,0.682,0.0,0.0,0.101,0,0
1903,BSN,176.0,47.0,25.0,159.0,59.0,0.245,0.309,0.318,0.627,0.0,0.0,0.077,0,0
1903,CHA,176.0,49.0,14.0,180.0,38.0,0.247,0.295,0.314,0.609,0.0,0.0,0.063,0,0
1903,CHN,191.0,62.0,9.0,259.0,50.0,0.275,0.336,0.347,0.683,0.0,0.0,0.080,0,0
1903,CIN,228.0,92.0,28.0,144.0,30.0,0.288,0.342,0.390,0.732,0.0,0.0,0.075,0,0
1903,CLE,231.0,95.0,31.0,175.0,40.0,0.265,0.302,0.373,0.675,0.0,0.0,0.050,0,0
1903,DET,162.0,91.0,12.0,128.0,46.0,0.268,0.311,0.351,0.662,0.0,0.0,0.058,0,0
1903,NY1,181.0,49.0,20.0,264.0,92.0,0.272,0.332,0.344,0.676,0.0,0.0,0.071,0,0
1903,NYA,193.0,62.0,18.0,160.0,65.0,0.249,0.305,0.330,0.635,0.0,0.0,0.066,0,0
1903,PHA,227.0,68.0,32.0,157.0,32.0,0.264,0.305,0.363,0.668,0.0,0.0,0.053,0,0
1903,PHI,186.0,62.0,12.0,120.0,39.0,0.268,0.315,0.341,0.656,0.0,0.0,0.064,0,0
1903,PIT,208.0,110.0,34.0,172.0,50.0,0.286,0.337,0.393,0.730,0.0,0.0,0.067,1,0
1903,SLA,166.0,68.0,12.0,101.0,26.0,0.244,0.285,0.317,0.602,0.0,0.0,0.054,0,0
1903,SLN,138.0,65.0,8.0,171.0,34.0,0.251,0.294,0.313,0.607,0.0,0.0,0.055,0,0
1903,WS1,172.0,72.0,17.0,131.0,39.0,0.231,0.275,0.311,0.586,0.0,0.0,0.052,0,0